*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter";
}
:root {
  --text-color-bt: #fff;
  --bt-background:#00D9A5;
  --text-color-menu:rgba(110, 128, 122, 0.8);
  --text-color-welcome:#6E807A;
  --background-welcome:#F7F5FD;
  --bachground-bt-nossos-dotores:#1D2A4D;
  --background-nossos-service:#F7F5FD;
  --h1-about:#13C5DD;
  --test-footer:#EFF5FF;
  --background-geral:rgba(255, 255, 255, 0.95);
}
button{
  border-radius: 0.25rem;
  color: var(--text-color-bt);
  background-color: var(--bt-background);
  background-color: none;
  border: none;
  cursor: pointer;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #Ffffff;
  z-index: 2;
}
header h1 span{
  color: var(--bt-background);
}
header h1{
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  cursor: pointer;
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
header .menu nav ul{
  display: flex;
}
header .menu nav ul li{
  padding: .5rem 1rem;
}
header .menu nav ul li a{
  color: var(--text-color-menu);
  font-size: 18px;
}
main .banner{
  height: 40rem;
  background: url(../img/bg_image_1.jpg) no-repeat  center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
main .banner .banner-2{
  position: absolute;
  z-index: 1;
  height: 40rem;
  width: 100%;
  opacity: .6;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner .container--banner-2{
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   gap: .5rem;
}
main .banner .container--banner-2 h1{
   text-align: center;
   color: var(--text-color-bt);
   font-size: 54px;
   font-weight: 600;
}
main .banner .container--banner-2 span{
  color: var(--text-color-bt);
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
}
main .banner .container--banner-2 button{
  color: var(--text-color-bt);
  font-size: 16px;
  width: 10rem;
  height: 2.5rem;
  margin: 24px auto 0 auto;
}
main .welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem 0;
  background: var(--background-welcome);
}
main .welcome .welcome-1 {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
main .welcome-inf{
  width: 40rem;
  margin-top: 4rem;
}
main .welcome-inf h1{
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
main .welcome-inf button{
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  font-size: 16px;
}
main .welcome-inf p{
  line-height: 1.5;
  color: var(--text-color-welcome);
  font-size: 1.1rem;
  margin-top: 20px;
}
main .welcome-imagem img{
 width: 24rem;
 height: auto;
}
main .welcome .sobre-img-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 4rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
main .welcome h1#h1-about{
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bachground-bt-nossos-doto);
   margin: 3.5rem 0 1.5rem 0;
}
main .welcome .sobre-img-info .sobre-imagem img{
  width: 35rem;
  border-radius: .25rem;
}
main .welcome .sobre-img-info .sobre-info {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .welcome .sobre-img-info .sobre-info h1{
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bachground-bt-nossos-doto);
}
main .welcome .sobre-img-info .sobre-info p{
  line-height: 1.5;
  color: var(--text-color-welcome);
  font-size: 1.1rem;
}
main .welcome .sobre-img-info .sobre-info button{
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  font-size: 16px;
}
main {
  background: var(--background-geral);
}
main .nossos-doctores {
  padding: 0 4rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--background-geral);
}
main .nossos-doctores h1{
  text-align: center;
  font-size: 2.5rem;
  color: #1D2A4D;
  font-weight: 500;
}
main .nossos-doctores p{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  color: #828282;
  width: 40rem;
  line-height: 1.5;
}
main .nossos-doctores button {
  width: 8rem;
  height: 2.8rem;
  font-size: 16px;
}
main .nossos-doctores .card-doctor{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .nossos-doctores .card-doctor .doctor{
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
main .nossos-doctores .card-doctor .doctor section img{
 width: 14rem;
 height: auto;
 border-radius: 0.25rem;
}
main .nossos-doctores .card-doctor .doctor button{
  padding: .5rem 1rem;
  color: #fff;
  background-color: var(--bachground-bt-nossos-dotores);
  border-color: #1D2A4D;
}
main .nossos-service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 4rem;
  margin-top: 6rem;
  background: var(--background-nossos-service); 
  height: 70rem;
}
main .nossos-service h1{
 text-align: center;
 margin: 4rem 0 .5rem 0;
 font-size: 2.5rem;
 font-weight: 500;
}
main .nossos-service p#paragrafo-service{
  text-align: center;
  margin: 1rem  auto 6rem auto;
  font-size: 1rem;
  color: #828282;
  width: 40rem;
  line-height: 1.5;
}
main .nossos-service a{
  margin: 2.5rem auto 4rem auto;
}
main .nossos-service a button{
  width: 8rem;
  height: 2.8rem;
  font-size: 16px;
}
main .nossos-service .card-service{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .nossos-service .card-service .service{
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
main .nossos-service .service img{
  width: 18rem;
  height: auto;
  border-radius: 0.25rem;
}
main .desc-service{
  display: flex;
  justify-content: center;
  gap: 2rem;
  background:  #1D2A4D;
  height: 24rem;
}
main .desc-service section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 15rem;
}
main .desc-service section i {
  font-size: 45px;
  color: #fff;
}
main .desc-service section span {
  font-size: 44px;
  display: block;
  color: white;
  font-weight: 400;
  margin-bottom: 0.1em
}
main .desc-service section h3 {
  color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-bottom: 2em;
    display: block;
}
main .testemunho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;
  background: var(--background-geral);
}
main .testemunho .info-testemunho{
  text-align: center;
}
main .testemunho .info-testemunho h1{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
main .testemunho .info-testemunho h2{
   font-size: 3.5rem;
   font-weight: 500;
   margin:1rem 0;
   line-height: 1.2;
   width: 44rem;
}
/* slider */
main .testemunho .container-testemunho {
   width: 100%;
   overflow: hidden;
}
/* slider-width */
main .testemunho .container-testemunho .slider-testemunho {
  display: flex;
  height: 100%;
  transition: all ease .3s;
}
/* slider-item */
main .testemunho .container-testemunho .img-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100%;
}
main .testemunho .container-testemunho .img-icons img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
main .testemunho .container-testemunho .img-icons i{
    background: var(--background-welcome);
    width: 60px;
    height: 60px;
    border-radius: 59%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    font-size: 2rem;
    font-weight: 900;
    color: var(--bachground-bt-nossos-dotores);
}
main .testemunho .container-testemunho .img-icons p {
  font-size: 1.4rem;
  font-weight: 400;
   line-height: 1.5;
   text-align: center;
   width: 50rem;
   color: var(--bachground-bt-nossos-doto);
   margin-top: 1rem;
}
main .testemunho .container-testemunho .img-icons h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  border-top: 1px solid var(--text-color-welcome);
  margin-top: 1rem;
  padding-top: 10px;
  color: var(--bachground-bt-nossos-dotores);
}
main .testemunho .container-testemunho .img-icons h4{
  font-size: 1rem;
  font-weight: 400;
  color: var(--bachground-bt-nossos-dotores);
  margin-top: 10px;
}
main .testemunho .bt-slide-testemunho{
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
}
main .testemunho .bt-slide-testemunho span{
  display: flex;
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--bachground-bt-nossos-dotores);
  border-radius: 50%;
  transition: .5s;
}
main .testemunho .bt-slide-testemunho span:hover{
  cursor: pointer;
  transform: scale(1.5);
}
/* main .modal_notificacao {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
}
main .modal_notificacao .card_notificacao {
  width: 30rem;
  height: 15rem;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  overflow-y: auto;
  transition: all ease .5s;
}
main .modal_notificacao .card_notificacao h1 {
   font-size: 2rem;
   font-weight: 500;
   margin-bottom: 1rem;
}
main .modal_notificacao .card_notificacao h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}
main .modal_notificacao .card_notificacao button {
  width: 4rem;
  height: 2rem;
  margin-top: 2rem;
}
main .modal_notificacao .card_notificacao
main .modal_notificacao .card_notificacao */
footer {
  color: var(--test-footer);
}
footer .info-footer{
  display: flex;
  justify-content: center;
  gap: 6rem;
  background: var(--bachground-bt-nossos-dotores);
  padding: 4rem 0;
}
footer .info-footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer .info-footer ul li {
color: #2D2D2D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
color: var(--test-footer);
}
footer .info-footer ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: var(--test-footer);
}
footer .info-footer ul h1 {
  font-size: 1.5rem;
}
footer .info-footer .mundo-hospital h1{
   color: var(--test-footer);
}
footer .info-footer .mundo-hospital h1 span{
   color: var(--bt-background);
}
footer .info-footer .mundo-hospital p{
   width: 15rem;
   line-height: 24px;
   font-weight: 400;
   margin:10px 0 .5rem 0;
}
footer .endereco li:nth-child(2){
   width: 20rem;
}
footer .endereco .contact-footer {
  margin-right: .5rem;
}
footer .endereco li:nth-child(5){
  display: flex;
  gap: .5rem;
}
footer .endereco li#icons-endereco i{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
footer .copyRigts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: .5rem;
  color: #2D2D2D;
}
footer .copyRigts section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 14px;
}